body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 600px;
    height: 600px;
    background-color: #bfbfbf;
  }
 
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    flex: 1;
}

  .grid {
    height: auto;
    flex: 1;
    border: 1px solid lightgrey;
    color: green;
  }

  .painted{
    border: 1px solid lightgrey;
    color: green;
    background-color: green;
  }

  /*
  .grid:hover{
    border: 1px solid black;
    margin: 0px;
    height: 24px;
    width: 24px;
    padding: 5px;
    color: green;
    background-color: green;
    
  }
  */